<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="dashboard-diagram">
  <div class="dashboard-diagram-switcher">
    <label for="order_<?= $block->getHtmlId() ?>_period"
           class="label"><?= /* @escapeNotVerified */
      __('Select Range:') ?></label>
    <select name="period" id="order_<?= $block->getHtmlId() ?>_period"
            onchange="changeDiagramsPeriod(this);" class="admin__control-select">
      <?php foreach ($this->helper('Magento\Backend\Helper\Dashboard\Data')->getDatePeriods() as $value => $label): ?>
        <?php if (in_array($value, ['custom'])) {
        continue;
      } ?>
        <option value="<?= /* @escapeNotVerified */
        $value ?>"
          <?php if ($block->getRequest()->getParam('period') == $value): ?> selected="selected"<?php endif; ?>
        ><?= /* @escapeNotVerified */
          $label ?></option>
      <?php endforeach; ?>
    </select>
  </div>
  <?php if ($block->getCount()): ?>
    <div class="dashboard-diagram-image">
      <img src="<?= /* @escapeNotVerified */
      $block->getChartUrl(false) ?>" class="dashboard-diagram-chart" alt="Chart" title="Chart"/>
    </div>
  <?php else: ?>
    <div class="dashboard-diagram-nodata">
      <span><?= /* @escapeNotVerified */
        __('No Data Found') ?></span>
    </div>
  <?php endif; ?>
</div>
