<?php if ($message = $this->getMessage()) : ?>
  <div class="message-system-inner">
    <div class="message-system-short-wrapper">
      <div class="message message-warning"><?php echo $message ?></div>
    </div>
  </div>
<?php endif; ?>
